.App {
  background-color:#76B39D;
  height: 669px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#reg{
  display: none;
}

.formulario{
  display: none;
  display : flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.caja, a{
  margin: 10px;
  padding: 16px;
  width: 280px;
  height: 8px;
  border: none;
}

.boton{
  margin: 10px;
  padding: 16px;
  width: 320px;
  height: 40px;
  background-color: #05004e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;

}

a{
  text-align: center;
  color: #FD5F00;
}
